.logoitem {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    height: 120px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 8px #c0bebe90;

    img {
        max-width: 120px;

    }
}

.logowrap {
    display: flex;
    justify-content: center !important;
}

.logo .swiper-slide-next {
    display: flex;
    justify-content: center !important;
}

.logo .swiper-slide-active {
    display: flex;
    justify-content: center !important;
}

.logo {
    margin: 50px 0px !important;
}